<f:flashMessages renderMode="div" />
<f:if condition="{medias}">
	<ul class="tx_simplyshare">
		<f:if condition="{settings.pre}">
			<li>{settings.pre}</li>
		</f:if>
		<f:for each="{medias}" as="media">
			<li>
				<f:link.external uri="{f:render(partial:'Media/Uri', arguments:'{pageTitle:pageTitle, media:media, requestUri:requestUri}')}" target="_blank"><f:image src="uploads/tx_simplyshare/{media.icon}" alt="{media.name}" /></f:link.external>
			</li>
		</f:for>
	</ul>
</f:if>
