{media.shareUrl}{requestUri}<f:for each="{media.params}" as="param">&{param.parameter}=<f:if condition="{param.fillWith}==1"><f:then>{pageTitle}</f:then><f:else>{media.account}</f:else></f:if></f:for>